*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 80%;
    margin: 5% auto;
    margin-top: 5%;
    /* background-color: black; */
}

.get{
    /* text-align: center; */
    padding: 20px 15px;
    border: 1px solid;
    background-color: aliceblue;
    font-size: 1.4rem;
    font-weight: bold;
    color: #535353;
    border-radius: 5px;
}
.get:hover{
    background-color: rgb(216, 233, 246);
    color: #fff;
}
.get:active{
    background-color: rgb(169, 209, 242);
    color: #fff;
}
.pic_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
img{
    width: 100%;
    border-radius: 5px;
    height: 300px;
}